

<div class="container">
  <div class="row">
    <h2 class="bg-light">会員一覧</h2>
    <table class="table">
    <tr class="bg-light">
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
    <% @workers.each do |worker| %>
    <tr>
       <td><%= worker.id %></td>
       <td><%= link_to admin_worker_path(worker.id) do %>
           <%= worker.name %>
           <% end %>
       </td>
       <td><%= worker.email %></td>
       <td>
         <% if worker.is_deleted? %>
           <p class="text-danger">退会済</p>
         <% else %>
           <p class="text-success">有効</p>
         <% end %>
       </td>
    </tr>
    <% end %>
</table>

  </div>
</div>