<div class="container">
  <div class="row">
    <div class="col-5">
    <h3 class="bg-light">ジャンル編集</h3>
    <% if @worker.email == 'guest@example.com'%>
    <p>ゲストユーザーはジャンルの編集ができません。</p>
    <% else %>
     <%= form_with model: @genre, url: worker_genre_path(@genre.id) do |f| %>
      <p><strong>ジャンル名</strong></p><%= f.text_field :name %><%= f.submit '変更を保存', class:"btn btn-success" %>
     <% end %>
    <% end %>
     </div>
  </div>
</div>