@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

.bg-sky-blue {
  background-color: #90E7EF;
}
.navbar{
  display: flex;
}
.navbar-toggler {
  margin-left: auto;
}
.border-arrange1 {
  width: 200px;
  padding: 10px;
  margin: 10px,20px;
  font-size: 14px;
  border-left: 10px solid #AEC4FA;
  border-bottom: 4px solid #AEC4FA;
  background-color: white;
}
.menu {
  background-color: #C5E0F9;
}
.nav {
  width: 230px;
}
.nav-item {
    color: white;
    background-color: rgba(255, 255, 255, 0.493);
}