<div class="nested-fields my-2">
  <div class="row mx-auto">
    <div class="col-5"><%= f.text_field :name, class: "form-control", placeholder: "材料" %></div>
    <div class=" col-2 px-0"><%= f.text_field :quantity, class: "form-control", placeholder: "分量" %></div>
    <div class=" px-0 w-auto">
      <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %>
    </div>
  </div>
</div>